<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
    <title>妙巴黎京城格格</title>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
        });
        var dataForWeixin = {
            appId: "wx1426988e8c227dee",
            MsgImg: "http://bilibili.kejukeji.com/static/image/img/4fe8334fd7e17.jpg",
            TLImg: "http://bilibili.kejukeji.com/static/image/img/4fe8334fd7e17.jpg",
            url: "bilibili.kejukeji.com/home",
            title: "【躁动京城】格格们!快来!",
            desc: "只要你有在北京的姐妹儿，这事你就得来掺和！5月26日，请安嘞！",
            fakeid: "",
            callback: function () {
            }
        };
        (function () {
            var onBridgeReady = function () {
                WeixinJSBridge.on('menu:share:appmessage', function (argv) {
                    WeixinJSBridge.invoke('sendAppMessage', {
                        "appid": dataForWeixin.appId,
                        "img_url": dataForWeixin.MsgImg,
                        "img_width": "120",
                        "img_height": "120",
                        "link": dataForWeixin.url,
                        "desc": dataForWeixin.desc,
                        "title": dataForWeixin.title
                    }, function (res) {
                        (dataForWeixin.callback)();
                    });
                });
                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    (dataForWeixin.callback)();
                    WeixinJSBridge.invoke('shareTimeline', {
                        "img_url": dataForWeixin.TLImg,
                        "img_width": "120",
                        "img_height": "120",
                        "link": dataForWeixin.url,
                        "desc": dataForWeixin.desc,
                        "title": dataForWeixin.title
                    }, function (res) {
                    });
                });

                WeixinJSBridge.on('menu:share:weibo', function (argv) {
                    WeixinJSBridge.invoke('shareWeibo', {
                        "content": dataForWeixin.title,
                        "url": dataForWeixin.url
                    }, function (res) {
                        (dataForWeixin.callback)();
                    });
                });
                WeixinJSBridge.on('menu:share:facebook', function (argv) {
                    (dataForWeixin.callback)();
                    WeixinJSBridge.invoke('shareFB', {
                        "img_url": dataForWeixin.TLImg,
                        "img_width": "120",
                        "img_height": "120",
                        "link": dataForWeixin.url,
                        "desc": dataForWeixin.desc,
                        "title": dataForWeixin.title
                    }, function (res) {
                    });
                });
            };
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        })();
    </script>
    <script>
        window.onload = function () {
            $.ajax({
                type: 'get',
                url: '/viewTimes',
                success: function () {
                }
            });

            $("#loading").css({display: "none"});
            $("#real").css({display: "block"});

        };
    </script>
</head>

<body>
<div id="loading" style="height: 100%;width: 100%;position: absolute;vertical-align: middle;text-align: center">
    <span style="vertical-align: middle;display: inline-block;height: 100%"></span>
    <img src="/static/image/img/5-121204193Q9-51.gif">

</div>
<div id="real" style="display: none">
<div class="img">
<a href="/tohome2"><img src="/static/image/img/home_s1.jpg"  width="100%"/></a></div>


</div>
</body>
</html>
