<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/share.css"/>
<title>分享</title>
</head>

<body>
<div class="share-bg">
<div class="share-topimg">
<img src="/static/image/img/page3t_r1_c1_s1.png" />
<p>凭分享到朋友圈截图<a>即可领取赏银</a></p>
</div>
<div class="share-text1">
<p class="share-text-top">1.满100再抵<a class="money">20</a>元</p>
<p class="share-text-sm">（仅北京促销期间使用，不可与福利券叠加使用）</p>
<p class="share-text1-time">地点：朝阳区东三环中路65号富力广场<br />
时间：2014年5月6日-6月1日</p>

</div>
<div class="share-text2">
<p class="share-text-top">2.任意购买可抵<a class="money">10</a>元</p>
<p class="share-text-sm">（非北京地区可在当地专柜使用）</p>
<p class="share-text-qx">（以上优惠每人限用一张）</p>

</div>
</div>
<img src="/static/image/img/page3_r3_c1_s1.png" width="100%" />
<div class="share-foot">
<span class="share-foot-img"><img src="/static/image/img/page3t_r5_c2_s1.png"  /></span>
<span class="share-foot-t">

使用优惠券之前，请确定<br />
已关注妙巴黎官方微信哦！
</span>
</div>
<div class="clear"></div>
<div class="share-footb">
本活动解释权归颖通（上海）贸易有限公司所有
</div>
</body>
</html>
