<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/test.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>妙巴黎京城格格</title>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
        });
        var dataForWeixin = {
            appId: "wxfe4205911fe92b3c",
            MsgImg: "http://bilibili.kejukeji.com/static/image/img/4fe8334fd7e17.jpg",
            TLImg: "http://bilibili.kejukeji.com/static/image/img/4fe8334fd7e17.jpg",
            url: "bilibili.kejukeji.com/home",
            title: "【躁动京城】格格们!快来!",
            desc: "只要你有在北京的姐妹儿，这事你就得来掺和！5月26日，请安嘞！",
            fakeid: "",
            callback: function () {
            }
        };
        (function () {
            var onBridgeReady = function () {
                WeixinJSBridge.on('menu:share:appmessage', function (argv) {
                    WeixinJSBridge.invoke('sendAppMessage', {
                        "appid": dataForWeixin.appId,
                        "img_url": dataForWeixin.MsgImg,
                        "img_width": "120",
                        "img_height": "120",
                        "link": dataForWeixin.url,
                        "desc": dataForWeixin.desc,
                        "title": dataForWeixin.title
                    }, function (res) {
                        (dataForWeixin.callback)();
                    });
                });
                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    (dataForWeixin.callback)();
                    WeixinJSBridge.invoke('shareTimeline', {
                        "img_url": dataForWeixin.TLImg,
                        "img_width": "120",
                        "img_height": "120",
                        "link": dataForWeixin.url,
                        "desc": dataForWeixin.desc,
                        "title": dataForWeixin.title
                    }, function (res) {
                    });
                });

                WeixinJSBridge.on('menu:share:weibo', function (argv) {
                    WeixinJSBridge.invoke('shareWeibo', {
                        "content": dataForWeixin.title,
                        "url": dataForWeixin.url
                    }, function (res) {
                        (dataForWeixin.callback)();
                    });
                });
                WeixinJSBridge.on('menu:share:facebook', function (argv) {
                    (dataForWeixin.callback)();
                    WeixinJSBridge.invoke('shareFB', {
                        "img_url": dataForWeixin.TLImg,
                        "img_width": "120",
                        "img_height": "120",
                        "link": dataForWeixin.url,
                        "desc": dataForWeixin.desc,
                        "title": dataForWeixin.title
                    }, function (res) {
                    });
                });
            };
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        })();
    </script>
    <script type="text/javascript">
        window.onload = function () {
            $("#loading").css({display: "none"});
            $("#real").css({display: "block"});


            var i = 0;

            function div_click(idx) {
                $("#start" + idx).click(function () {
                    $("#start" + idx).css({display: "none"});
                    $("#startChange" + idx).css({display: "block"});
                    i = i + 1;
                    $("#img_scope").children().css({display:"none"});
                    $("#test4top"+i).css({display:'block'});
                    $("#num1").empty().html(i);
                    $("#num2").empty().html(i * 25);
                    if (i == 4) {
                        window.location.href = "/getCoupon";
                    }
                });
            }

            div_click(1);
            div_click(2);
            div_click(3);
            div_click(4);
            div_click(5);
            div_click(6);
            div_click(7);
            div_click(8);
            div_click(9);

        };
    </script>


<body style="background: #ce1269">
<div id="loading" style="height: 100%;width: 100%;position: absolute;vertical-align: middle;text-align: center">
    <span style="vertical-align: middle;display: inline-block;height: 100%"></span>
    <img src="/static/image/img/5-121204193Q9-51.gif">

</div>
<div id="real" style="display: none">
    <div class="test-con">
        <img src="/static/image/img/test4top.png" width="100%"/>

        <div id="img_scope">
            <img id="test4top0" src="/static/image/img/test4top0.png" width="100%"/>
            <img id="test4top1" src="/static/image/img/test4top1.png" width="100%" style="display: none"/>
            <img id="test4top2" src="/static/image/img/test4top2.png" width="100%" style="display: none"/>
            <img id="test4top3" src="/static/image/img/test4top3.png" width="100%" style="display: none"/>
            <img id="test4top4" src="/static/image/img/test4top4.png" width="100%" style="display: none"/>
        </div>
        <!--1-->
        <div class="face">
            <div id="start1" class="test-con1">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange1" class="test-con1on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!--2-->
        <div class="nail">
            <div id="start2" class="test-con2">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange2" class="test-con2on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!--3-->
        <div class="eye">
            <div id="start3" class="test-con4">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange3" class="test-con4on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="clear"></div>
        <!--1-->
        <div class="face">
            <div id="start4" class="test-con1">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange4" class="test-con1on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!--2-->
        <div class="nail">
            <div id="start5" class="test-con2">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange5" class="test-con2on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!--3-->
        <div class="eye">
            <div id="start6" class="test-con4">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange6" class="test-con4on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="clear"></div>
        <!--1-->
        <div class="face">
            <div id="start7" class="test-con1">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange7" class="test-con1on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!--2-->
        <div class="nail">
            <div id="start8" class="test-con2">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange8" class="test-con2on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!--3-->
        <div class="eye">
            <div id="start9" class="test-con4">
                <img src="/static/image/img/test4l.png" width="100%"/>
            </div>
            <div id="startChange9" class="test-con4on">
                <img src="/static/image/img/test4l2.png" width="100%"/>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="clear"></div>
        <img src="/static/image/img/test4b.png" width="100%"/>
    </div>
    <!--test-con结束-->
    <!--test-con结束-->
</div>
</body>
</html>