<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>活动详情</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <style type=text/css>
        .oran-bg {
            background-color: beige;
            padding-left: 10px;
            padding-right: 10px;
        }

        .oran-iv {
            padding-left: 10px;
            padding-right: 10px;
        }

        .oran-cont {
            border-radius: 5px;
            border: 5px, cornflowerblue, solid;
            background-color: white;
            padding-bottom: 15px;
            padding-top: 15px;
        }
    </style>
    <script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
    });
    var dataForWeixin={
        appId: "wx1426988e8c227dee",
        MsgImg: "http://bilibili.kejukeji.com/static/image/huodong1.jpg",
        TLImg: "http://bilibili.kejukeji.com/static/image/huodong1.jpg",
        url: "{{ content_url }}",
        title: "{{ activity.title }}",
        desc: "{{ activity.content }}",
        fakeid:"",
        callback:function(){}
    };
    (function(){
        var onBridgeReady=function(){
            WeixinJSBridge.on('menu:share:appmessage', function(argv){
                WeixinJSBridge.invoke('sendAppMessage',{
                    "appid":dataForWeixin.appId,
                    "img_url":dataForWeixin.MsgImg,
                    "img_width":"120",
                    "img_height":"120",
                    "link":dataForWeixin.url,
                    "desc":dataForWeixin.desc,
                    "title":dataForWeixin.title
            }, function(res){(dataForWeixin.callback)();});
        });
        WeixinJSBridge.on('menu:share:timeline', function(argv){
            (dataForWeixin.callback)();
            WeixinJSBridge.invoke('shareTimeline',{
                "img_url":dataForWeixin.TLImg,
                "img_width":"120",
                "img_height":"120",
                "link":dataForWeixin.url,
                "desc":dataForWeixin.desc,
                "title":dataForWeixin.title
        }, function(res){});
    });

    WeixinJSBridge.on('menu:share:weibo', function(argv){
        WeixinJSBridge.invoke('shareWeibo',{
            "content":dataForWeixin.title,
            "url":dataForWeixin.url
    }, function(res){(dataForWeixin.callback)();});
    });
    WeixinJSBridge.on('menu:share:facebook', function(argv){
        (dataForWeixin.callback)();
        WeixinJSBridge.invoke('shareFB',{
            "img_url":dataForWeixin.TLImg,
            "img_width":"120",
            "img_height":"120",
            "link":dataForWeixin.url,
            "desc":dataForWeixin.desc,
            "title":dataForWeixin.title
    }, function(res){});
    });
    };
        if (document.addEventListener) {
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        } else if (document.attachEvent) {
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    })();
</script>
</head>


<body>
<div class="container" style="padding: 8px">
    <div>
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">主页</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
    <br>

    <div style="border-top: 20px;border-bottom: 20px">
        <hr>
    </div>
    <div class="jumbotron" style="padding: 10px;margin: 3px">
        <div class="row oran-iv">
            <div class="oran-iv">
                <h3 style="font-family: '微软雅黑'">{{ activity.title }}</h3>
            </div>
        </div>
        <div class="row oran-iv">
            <div class="oran-iv">
                <h6>
                    <small>{{ activity.date }}</small>
                    &nbsp;&nbsp;&nbsp;阅读
                    <small>{{ activity.readNo }}</small>
                    &nbsp;&nbsp;&nbsp;分享
                    <small>{{ activity.shareNo }}</small>
                </h6>
            </div>
        </div>
        <div class="row oran-iv">
            <div class="oran-iv oran-cont">
                <h4>{{ activity.content }}</h4>
                <br>
                <h4>活动时间：{{ activity.act_time }}</h4>
                <br>
                <h4>活动地点：{{ activity.address }}</h4>
            </div>
        </div>
    </div>
    <div class="jumbotron" style="padding: 10px;margin: 0px">
        <div class="row oran-iv">
            <div class="col-xs-5 oran-iv" style="height: 30px">
                <h6>
                    已有{{ regist_count }}人报名
                </h6>
            </div>
            <div class="col-xs-7" style="height: 30px">
                <button style="vertical-align: 50%" data-toggle="modal" data-target="#myModal2" class="btn btn-default btn-xs">查看已报名人员联系电话</button>
            </div>
        </div>
    </div>
        <table class="table table-bordered">
            <tr class="active">
                <th class="col-xs-6">姓名</th>
                <th class="col-xs-6">时间</th>
            </tr>
            {% for a in regist_list %}
                <tr>
                    <td>{{ a.name }}</td>
                    <td>{{ a.send_date }}</td>
                </tr>
            {% endfor %}

        </table>

    <button data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-lg btn-block">我也要报名</button>
    <button onclick="window.location.href='/createactivity'" type="button" class="btn btn-default btn-lg btn-block">组织活动</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-horizontal" onsubmit="return checkNameMobile()" role="form"
                  action="/regist/{{ activity.id }}" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">输入您的信息</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="name" class="form-control" id="inputName" name="inputName"
                                       placeholder="请输入您的姓名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="mobile" class="form-control" id="inputMobile" name="inputMobile"
                                       placeholder="请输入您的手机号">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" id="subButton" class="btn btn-primary" data-container="#modal-footer"
                                data-toggle="popover" data-placement="top"
                                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                data-original-title="111" title="111">保存
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" onsubmit="return checkPassword()"
                  action="/checkpassword/{{ activity.id }}" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">输入您的管理密码</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="passwordcheck" class="form-control" id="passwordcheck" name="passwordcheck"
                                       placeholder="请输入您的管理密码">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    function checkNameMobile() {
        if (($('#inputName').val().length == 0) || ($('#inputName').val().length > 30)) {
            alert("你的名字输入长度有误，请重新输入！");
            return false;
        } else if (!$("#inputMobile").val().match(/^1(3|4|5|8)[0-9]{9}$/)) {
            alert("你的手机号格式错误，请检查后重新输入！");
            return false;
        } else {
            alert('保存成功');
            return true;
        }
    }

    function checkPassword() {
        if (($('#passwordcheck').val().length < 6) || ($('#passwordcheck').val().length > 16)) {
            alert("你的密码输入长度有误，请重新输入！");
            return false;
        } else {
            return true;
        }
    }
</script>
</html>