 @charset "utf-8";
/* CSS Document */
.share-top{ width:100%; background:url(/static/image/img/page2bg_r1_c1_s1.png) no-repeat top left; background-size:100% 100%; }
.share-foot{ width:100%; background:url(/static/image/img/page2bg_r2_c1_s1.png) no-repeat top left; display:block; background-size:100% 100%;}