@charset "utf-8";
/* CSS Document */

 html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
                margin: 0;
                padding: 0;  
  }
*{margin:0px;padding:0px; }
body{ width:100%; height:100% !important;}
a{text-decoration:none !important;}
ul,li{list-style:none !important;}
img{border:0 none;}
button{border:0 none; }
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clear{clear:both; }

