@charset "utf-8";
/* CSS Document */
.test-bg{width:100%; background:url(/static/image/img/test5_r1_c1.png) no-repeat top left; background-size:100% 100%;  display:block; }
.face{ width:50%; display:none; float:left;}
.eye{ width:50%;  display:none;float:left;}
.lip{ width:50%; display:none;float:left;}
.mj{ width:50%; float:left;}
.test5-foot{ background:url(/static/image/img/test5_r2_c1.png) no-repeat; background-size:100% 100%; width:100%; height:auto; display:block; }












