@charset "utf-8";
/* CSS Document */
.test-con{ background:url(/static/image/img/newnbg_s1.png) no-repeat top left; background-size:100% 100%;}
.face{ width:33.33%; height:auto; float:left;}
.eye{ width:33.33%; height:auto;  float:left;}
.nail{ width:33.33%; height:auto; float:left; }
.mouth{ width:33.33%; height:auto;  float:left;}


/*点击过后的样式*/

.test-con1on{ display:none;}
.test-con2on{ display:none; }
.test-con4on{ display:none;}

